footer {
  background-image: url('../assets/images/Background_Contacts.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-block: 8rem 12.5rem;
}
.container-wrapper-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-wrapper-inputs.wrapper-inputs.social-input:nth-child(2) {
}
.wrapper-inputs {
  cursor: pointer;
  display: flex;
  background-color: var(--color-gray-400);
  width: 25rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border-radius: 0.5rem;

  .social-input {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    #Linkedin {
      background-image: url('../assets/icons/LinkedinLogo.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
    #Linkedin:hover {
      background-image: url('../assets/icons/LinkedinLogoBlue.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }

    #Instagram {
      background-image: url('../assets/icons/InstagramLogo.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
    #Instagram:hover {
      background-image: url('../assets/icons/InstagramLogoColor.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
    #GitHub {
      background-image: url('../assets/icons/GithubLogo.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
    #GitHub:hover {
      background-image: url('../assets/icons/GithubLogoColor.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
    #E-mail {
      background-image: url('../assets/icons/EnvelopeSimple.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
    #E-mail:hover {
      background-image: url('../assets/icons/EnvelopeSimpleColor.svg');
      background-repeat: no-repeat;
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

/*

*/
